/* CSS Reset */
* {
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
}

/* Base Styless */
html {
  color: rgb(0, 0, 0);
  height: 100%;
}
@font-face {
  src: local('Calibre'), url('./assets/fonts/Calibre-Regular.woff') format('woff');
  font-family: 'Calibre';
}
@font-face {
  src: local('Calibre'), url('./assets/fonts/Calibre-Bold.woff') format('woff');
  font-family: 'Calibre';
  font-weight: bold;
}
body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'Calibre';
  font-size: 20px;
  line-height: 1.3;
  background-color: #0e1f28;
}
head {
  display: none;
}
html {
  display: block;
  color: rgb(17, 17, 17);
}

/* Root Container */
#root {
  height: 100%;
  width: 100%;
}

/* SVG Colors -- Home */
.cls-1,
.cls-13 {
  fill: #fff;
}
.cls-1 {
  fill-opacity: 0;
}
.cls-2 {
  fill: #a4b2b9;
}
.cls-3 {
  fill: #496572;
}
.cls-4 {
  fill: #a8c8d7;
}
.cls-5 {
  opacity: 0.6;
}
.cls-6 {
  fill: #5191af;
}
.cls-7 {
  fill: #a84396;
}
.cls-8 {
  fill: #245366;
}
.cls-9 {
  opacity: 0.4;
}
.cls-10 {
  fill: #1b3e4f;
}
.cls-11 {
  fill: #142f3b;
}
.cls-12 {
  fill: #0e1f28;
}

.remove__Overflow {
  overflow: hidden;
}
/*
  Single property.
  with min and max passed.
*/
